# junk
.DS_Store
/.idea/
/*.log

# ansible-vagrant
/.vagrant/
/ansible/roles/
/ansible/vars.local.yml
/ansible/vagrant-parameters.local.yml
/ansible/*.retry

# if you set sharing_strategy = 'subdirectory', you'll probably want to gitignore the shared subdirectory:
# (assuming sharing_subdirectory_relative_path = 'www')
#/www/*
#!/www/.gitkeep
